@import url(./zero.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
  --color-text1: #000000;
  --color-text2: #263238;
  --color-text3: #8F95A5;
  --color-bacgroung-items: #F5F5F5;
  --width-contaner:1370px;
  --pading-container: 15px;
}

body{
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3{
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  color: var(--color-text1);
}
h2{
  font-size: 48px;
}
h3{
  font-size: 30px;
  color: var(--color-text2);
}
p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text3);
}
.container{
  max-width: var(--width-contaner);
  padding: 0 var(--pading-container);
  margin: 0 auto;
}
.header{
  margin: 55px 0;
}
.header__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 150px;
  margin-bottom: 115px;
}
.header__logo {
}
.logo{
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
}
.span__logo {
  color: var(--color-text1);
}
/* .span__logo:hover{
  color: var(--color-text3);
}
.span__logo-next:hover{
  color: var(--color-text1);
} */
.header__menu {
}
.nav__header {
}
.nav__header-items{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  text-align: center;
  
}
.nav__header-items a{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-text2);
}
.nav__header-items a:hover{
  color: var(--color-text1);
  text-shadow: var(--color-text3) 3px 3px 20px;
  transform: translateY(-3px);
  transition: 0.5s;
}
.nav-item {
  min-width: 95px;
}
.header__button {
}
.btn__header {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--color-text1);
  width: 220px;
  height: 70px;
  border: 2px var(--color-text2) solid;
  border-radius: 5px;
}
.btn__header::after {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
  height: 100%;
	background-color: rgba(143, 149, 165, 0.365);
	border-radius: 5px;
	transition: all 0.5s ease;
}
.btn__header:hover::after {
	width: 100%;
}
.header__content {
  margin-bottom: 145px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner-title {
}
.h1-text {
  position: relative;
  max-width: 386px;
  margin-bottom: 40px;
}
.h1-text::after {
  content: url("../img/header-light-bulb.png");
  position: absolute;
  top: 60px;
  right: -150px;
  overflow: hidden;
}
.p-text-header{
  max-width: 525px;
  margin-bottom: 60px;
  font-size: 24px;
  line-height: 36px;
}
.btn {
  color: #fff;
  background-color: var(--color-text2);
}
.btn:hover{
  color: var(--color-text1);
  background-color: var(--color-text3);
  transform: translateY(-3px);
  transition: all 0.5s ease;
}
.btn-header {
  width: 438px;
  height: 118px;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  border-radius: 15px;
}
.skills {
  text-align: center;
  margin-bottom: 250px;
}
.h2-skills{
  margin-bottom: 40px;
}
.skills-writing img,
.skills-reading img{
  height: 200px;
}
.skills-speacking{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: speacking;
}
.skills-writing{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: writing;
}
.skills-reading{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: reading;
}
.skills-listening{
  display: flex;
  justify-content: space-between;
  grid-area: listening;
}
.skills__grid {
  display: grid;
  grid-template-areas: "speacking writing reading" "speacking listening listening";
  gap: 18px;
  align-items: stretch;
}
.skills__grid-item {
  padding: 25px;
  text-align: left;
  background: var(--color-bacgroung-items);
  border-radius: 10px;
}
.p-text-skills{
  margin-bottom: 30px;
  max-width: 350px;
}
.btn-skills {
  width: 230px;
  height: 60px;
  border-radius: 5px;
}
.About_Us{
  margin-bottom: 220px;
}
.about__container {
  display: flex;
  justify-content: space-between;
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 635px;
}
.p-text-about {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
.about__content-flex {
  display: flex;
  column-gap: 25px;
  justify-content: space-between;
  text-align: center;
}
.about__content-flex-item {
  margin-bottom: 30px;
}
.about__img img {
  max-width: 500px;
}
.Pricing {
  margin-bottom: 250px;
}
.h2-text-pricing{
  text-align: center;
  margin-bottom: 45px;
}
.pricing__container {
  display: flex;
  column-gap: 40px;
}
.pricing-item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 33%;
}
.pricing-item img{
  max-width: 340px;
}
.p-text-pricing {
  margin-bottom: 30px;
}
.price {
  display: flex;
  align-items: center;
  column-gap: 5px;
  width: 240px;
  height: 45px;
  background: #EEEEEE;
  border-radius: 5px;
  padding-left: 10px;
}
.price-number {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}
.price:hover {
  background-color: var(--color-bacgroung-items);
}
