@import url(./zero.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
  --color-text1: #000000;
  --color-text2: #263238;
  --color-text3: #8F95A5;
  --width-contaner:1370px;
  --pading-container: 15px;
}

body{
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3{
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  color: var(--color-text1);
}
h2{
  font-size: 48px;
}
h3{
  font-size: 30px;
  color: var(--color-text2);
}
p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text3);
}
.container{
  max-width: var(--width-contaner);
  padding: 0 var(--pading-container);
  margin: 0 auto;
}
.header{
  margin: 55px 0;
}
.header__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 150px;
}
.header__logo {
}
.logo {
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
}
.span__logo {
  color: var(--color-text1);
}
.header__menu {
}
.nav__header {
}
.nav__header-items{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  text-align: center;
  
}
.nav__header-items a{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-text2);
}
.nav__header-items a:hover{
  color: var(--color-text1);
  text-shadow: var(--color-text3) 3px 3px 20px;
  transform: translateY(-3px);
  transition: 0.5s;
}
.nav-item {
  min-width: 95px;
}
.header__button {
}
.btn__header {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--color-text1);
  width: 220px;
  height: 70px;
  border: 2px var(--color-text2) solid;
  border-radius: 5px;
}
.btn__header::after {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
  height: 100%;
	background-color: rgba(143, 149, 165, 0.365);
	border-radius: 5px;
	transition: all 0.5s ease;
}
.btn__header:hover::after {
	width: 100%;
}
