@media screen and (max-width:992px) {
  h1 {
    font-size: 48px;
    line-height: 64px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
  p,
  .p-text-about {
    font-size: 14px;
    line-height: 21px;
  }
  .p-text-header{
    font-size: 20px;
    line-height: 30px;  
    margin-bottom: 15px;
  }
  .container{
    max-width: 870px;
    padding: 0 30px;
  }
  .nav__header-items{
    column-gap: 26px;
  }
  .nav-item {
    min-width: 20px;
  }
  .nav__header-items a {
    font-size: 16px;
  }
  .header img {
    max-width: 380px;
  }
  .btn__header {
    font-size: 20px;
    line-height: 36px;
    width: 185px;
    height: 60px;
  }
  .btn-header {
    width: 354px;
    height: 95px;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
  }
  .btn-skills{
    width: 196px;
    height: 57px;
  }
  .h1-text {
    margin-bottom: 15px;
  }
  .h1-text::after {
    right: -40px;
  }
  .about__img img {
    max-width: 336px;
  }
  .contact-img img {
    max-width: 260px;
  }
  .pricing img {
    max-width: 195px;
  }
  .price {
    width: 200px;
  }
  .pricing__container {
    column-gap: 0;
    justify-content: space-between;
  }
  .skills,
  .Pricing,
  .header__content,
  .About_Us,
  .Contact {
    margin-bottom: 90px;
  }
  .list a {
    font-size: 15px;
  }
}


@media screen and (max-width:767px) {
  .nav__header,
  .btn__header,
  .h1-text::after {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .header__items,
  .skills,
  .Pricing,
  .header__content,
  .About_Us {
    margin-bottom: 60px;
  }
  .btn-header {
    width: 236px;
    height: 65px;
    border-radius: 5px;
    font-size: 24px;
    line-height: 36px;
  }
  h1 {
    font-size: 36px;
    line-height: 45px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  p, 
  .p-text-header,
  .p-text-about,
  .nav__header-items a {
    font-size: 13px;
    line-height: 20px;
  }
  .header img {
    max-width: 290px;
  }
  .skills__grid {
    display: grid;
    grid-template-areas: "speacking writing" "reading listening";
    gap: 10px;
    align-items: stretch;
  }
  .skills-listening{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .skills__grid-item img{
    max-width: 100%;
    height: auto;
  }
  .btn-skills {
    width: 100%;
  }
  .about__img img,
  .contact-img img {
    max-width: 250px;
  }
  .about__content-flex h2 {
    line-height: 30px;
  }
  .container{
    max-width: 670px;
    padding: 0 15px;
  }
  .pricing img {
    max-width: 168px;
  }
  .price{
    width: 160px;
  }
  .pricing-item h3{
    line-height: 40px;
  }
  .contact-input {
    width: 300px;
  }
  .contact-btn{
    width: 300px;
  }
}

@media screen and (max-width:575px) {
  .container{
    max-width: 530px;
    padding: 0 15px;
  }
  .header__items,
  .skills,
  .Pricing,
  .header__content,
  .About_Us {
    margin-bottom: 20px;
  }
  .btn-header {
    width: 236px;
    height: 65px;
    border-radius: 5px;
    font-size: 24px;
    line-height: 36px;
  }
  h1 {
    font-size: 34px;
    line-height: 45px;
  }
  .h1-text {
    min-width: 100%;
  }
  h1 br {
    display: none;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  p, 
  .p-text-header,
  .p-text-about,
  .nav__header-items a {
    font-size: 12px;
    line-height: 18px;
  }
  .header {
    margin: 25px 0;
  }
  .header__inner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .header img {
    max-width: 290px;
  }
  .about__container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .about__img img,
  .contact-img img,
  .pricing-item img,
  .contact-content img {
    width: 100%;
    height: auto;
  }
  .about__content-flex h2 {
    line-height: 30px;
  }
  .skills__grid {
    grid-template-areas: "speacking" "writing" "reading" "listening";
  }
  .pricing__container {
    flex-direction: column;
    text-align: center;
  }
  .pricing-item {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .price{
    width: 100%;
    justify-content: center;
  }
  .pricing-item h3{
    line-height: 40px;
  }
  .contact-content{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact-input,
  .contact-btn {
    width: 100%;
  }
  .list {
    flex-direction: column;
  }
}


@media screen and (max-width:320px) {
  .container{
    max-width: 260px;
    padding: 0 15px;
  }
  .header__items,
  .skills,
  .Pricing,
  .header__content,
  .About_Us {
    margin-bottom: 10px;
  }
  h1 {
    font-size: 24px;
    line-height: 36px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  p, 
  .p-text-header,
  .p-text-about,
  .nav__header-items a {
    font-size: 13px;
    line-height: 20px;
  }
  .header {
    margin: 10px 0;
  }
  .footer-wrapper {
    display: block;
    text-align: center;
  }
  .list {
    column-gap: 5px;
    flex-direction: row;
  }
  .list a {
    font-size: 9px;
    line-height: 10px;
  }
}